/* font-family: 'Poppins', sans-serif; */

h1 {
    color: rgb(61, 61, 61);
    font-size: 600%;
}

h2 {
    font-size: 160%;
}

h3 {
    color: rgb(48, 54, 66);
    font-size: 50px;
    font-stretch: ultra-expanded;
    font-weight: lighter;
    padding-bottom: 1%;
}

p {
    color: rgb(115, 115, 115);
    font-size: 90%;
}

b{
    font-size: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    /* width: 70%; */
    width: 90%;
    height: 100%;
}

.barra-lateral {
    color: rgb(56, 182, 255);
}


.background-header {
    background-color: rgb(56, 182, 255);
    padding-left: 1%;
    padding-top: 1%;
    width: 300%;
    height: 0.00014%;
}

.segunda-barra {
    color: rgb(48, 54, 66);
    padding-top: 3%;
    padding-bottom: 1%;
}

.subtitle-lateral {
    color: rgb(61, 61, 61);
}

.fa-brands {
    color: rgb(56, 182, 255);
    padding-right: 4%;
    padding-bottom: 10%;
}

.fa-solid {
    color: rgb(56, 182, 255);
    padding-right: 4%;
    padding-bottom: 10%;
}

.fa-solid {
    color: rgb(56, 182, 255);
}


.period{
    color: rgb(61, 61, 61);
    font-size: 100%;
    padding-right: 5%;
    float: right;
}

.line{
    border-bottom:  5px solid rgb(56, 182, 255);
    width: 50%;
    padding-top: 1.5%;
    float:right;
}

#coluna-1 {
    background-color: rgb(48, 54, 66);
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    float: left;
    /* height: 100%; */
    /* font-size: 98%; */
    font-size: 111%;
}

#coluna-2 {
    background-color: white;
    padding-left: 34%;
    padding-top: 2%;
    /* padding-right: 60%; */
    /* padding-inline-start: 13cm; */
    text-align: left;
    font-size: 145%;
    width: 80%;
}

#mieiro {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    padding-bottom: 1%;
}
