/* font-family: 'Poppins', sans-serif; */

h1 {
    color: rgb(61, 61, 61);
    font-size: 90px;
}

h3 {
    color: rgb(48, 54, 66);
    font-size:50px;
    font-stretch:ultra-expanded;
    font-weight:lighter;
    padding-bottom: 1%;
}

p {
    color: rgb(115, 115, 115);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.barra-lateral {
    color: rgb(56, 182, 255);
}

.background-header {
    background-color: rgb(56, 182, 255);
    padding-left: 1%;
    padding-top: 1%;
    height: fit-content;
}

.segunda-barra {
    color: rgb(48, 54, 66);;
}



.subtitle-lateral {
    color: rgb(61, 61, 61);
}

#coluna-1 {
    background-color: rgb(48, 54, 66);
    padding-left: 1%;
    color: white;
    float: left;
    width: 22%;
}

#coluna-2 {
    background-color: white;
    /* padding-left: 20%; */
    padding-top: 5%;
    padding-inline-start: 25%;
}

#profile {
    width: 20%;    /*era 90px*/
    shape-outside: circle("img/Guest.jpg");
    clip-path: circle();

}

#mieiro{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    padding-bottom: 1%;
}
